@page
@model MediaBazaarWebsite.Pages.AccessDeniedModel
@{
}

@{ ViewData["Title"] = "Access Denied"; }

<div class="text-center">
    <h1 class="display-4">Access Denied</h1>
    <p>
        You do not have rights to access this page!
    </p>
</div>