@page
@model MediaBazaarWebsite.Pages.LoginModel
@{
    ViewData["Title"] = "Login page";
}
<div>
    <center>
        <form class="login_container"  method="post">
            <label class="label" for="username">Username:</label><br>
            <input type="text" id="username" name="username" value=""><br>
            <label class="label" for="password">Password:</label><br>
            <input type="password" id="password" name="password" value=""><br><br>
            <input id="btn" type="submit" value="Login">

        </form>
    </center>
</div>