@page
@model MediaBazaarWebsite.Pages.UpdateCredentialModel
@{
    ViewData["Title"] = "Update credential page";
}
<div>
  
    <center>
        <form class="reset_password" method="post" >

            <label class="label" for="currentPassword">Current password:</label><br>
            <input type="password" id="currentPassword" name="currentPassword" value=""><br>
            <label class="label" for="newPassword">New password:</label><br>
            <input type="password" id="newPassword" name="newPassword" value=""><br>
            <label class="label" for="confirmPassword">Confirm password:</label><br>
            <input type="password" id="confirmPassword" name="confirmPassword" value=""><br><br>
            <input id="btn" type="submit" value="Submit">

        </form>
    </center>
</div>