@page
@model MediaBazaarWebsite.Pages.UpdateCredentialModel
@{
    ViewData["Title"] = "Update credential page";
}
<div>
  
    <center>
        <form class="reset_password" method="post">

            <input hidden asp-for="Employee.ID" />


            <label class="label" asp-for="CurrentPassword">Current password:</label><br>
            <br /><span asp-validation-for="CurrentPassword"></span><br />
            <input id="currentPassword" asp-for="CurrentPassword"><br>

            <label class="label" asp-for="NewPassword">New password:</label><br>
            <br /><span asp-validation-for="NewPassword"></span><br />
            <input id="newPassword" asp-for="NewPassword"><br>

            <label class="label" asp-for="NewPassword2">Confirm password:</label><br>
            <br /><span asp-validation-for="NewPassword2"></span><br />
            <input id="confirmPassword" asp-for="NewPassword2"><br><br>

            <input id="btn" type="submit" value="Submit">

        </form>
        <div><p id="signup-message">@ViewData["UpdateMessage"]</p></div>

    </center>
</div>